.home-container {
    width: 100%;
    background: #f7f7f7;
    height: calc(100vh - 64px);
}

.home-container > span {
    display: block;
    text-align: center;
    padding-top: 4rem;
    margin: 0 auto;
    font-size: 7rem;
}