.home-container {
    width: 100%;
    background: #f7f7f7;
    height: calc(100vh - 64px);
}

.home-container > span {
    display: block;
    text-align: center;
    padding-top: 4rem;
    margin: 0 auto;
    font-size: 7rem;
}

.home-container-association {
    position: fixed;
    bottom: 2em;
    right: 2em;
    font-style: italic;
}

.home-container-association img {
    max-height: 2em;
    padding-left: 5px;
}