.map-container {
    /* margin-top: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
}

.data-container {
    margin-left: 12%;
    /* margin: 0 auto; */
    width: 85%;
    margin-top: 120px;
}

.graph-container {
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
}