.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1em;
  font-size: 1.5rem;
  text-shadow: 0px 4px 6px rgba(0,0,0,0.5);
  transition: all .2s ease-in-out;
  z-index: -1;
}

.footer-wrapper a {
  color: rgba(255,255,255,0.75);

}

.footer-wrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
}